.bg-container {
  background-color: black;
  height: 100vh;
  background-size: cover;
  text-align: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.speed {
  color: #cbd5e1;
  font-family: 'Roboto';
}
.accelerate {
  color: #ffffff;
  font-family: 'Roboto';
  background-color: #0b69ff;
}
.break {
  color: #94a3b8;
  font-family: 'Roboto';
  background-color: transparent;
  border-width: 3px;
  border-color: #94a3b8;
}
